<!-- <div class="container"> -->
<div class="top-account">
  <%= render 'shared/profil_nav'%>
  <div class="container">
    <div class="row mt-100">
      <table class="table table-hover mt-40">
        <h1 class="text-center"><%= t('account.purchases.index.my-purchases') %></h1>
          <thead>
            <tr>
              <th></th>
              <th><%= t('account.announces.index.company') %></th>
              <th><%= t('account.announces.index.sector') %></th>
              <th><%= t('account.announces.index.quantity') %></th>
              <th><%= t('account.announces.index.kind') %></th>
              <th><%= t('account.announces.index.price') %></th>
              <th><%= t('account.announces.index.date') %></th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <% @purchases.each do |purchase| %>
  <!--             <div class="col-xs-3 text-center green-card col-md-offset-1"> -->
              <td><%= image_tag purchase.announce.company.logo, :class => 'img-rounded img-table' %></td>
              <td><%= purchase.announce.company.name %></td>
              <td><%= purchase.announce.company.sector.name %></td>
              <td><%= purchase.announce.number_of_share %></td>
              <td><%= purchase.announce.kind.name %></td>
              <td><%= "#{purchase.announce.price} €" %></td>
              <td><%= "#{purchase.created_at.strftime("%d %b. %Y")}" %></td>
          </tbody>
        <% end %>
      </table>
    </div>
  </div>
</div>
