<div class="container padded">
  <div class="col-xs-3">

  </div>
  <div class="col-xs-6">
    <div class="text-center">

  <%= simple_form_for(@user, html: { multipart: true }) do |f| %>
  Modifiez votre profil <br><br>
    <div class="form-group">
      <%= f.text_area :first_name, class: "form-control", placeholder:"First Name" %>
    </div>
    <div class="form-group">
      <%= f.text_area :last_name, class: "form-control", placeholder:"Last Name" %>
    </div>
    <fieldset>
         <div class="form-group">
          <label class="control-label">Address</label><br>
            <input id="user_input_autocomplete_address" name="address"
            class="form-control" placeholder="Start typing your address...">
        </div>
      </fieldset>


    <div class="form-group" >
      <%= f.label :photo %>
      <div id="line-add-picture">
      <%= f.file_field :picture %>
      </div>
    </div>

    <div><input type="submit" name="commit" value="Modifier" class="btn btn-primary"></div>

  <% end %>
  <br>
        <%= link_to user_path(current_user[:id]) do %>
        <i class="fa fa-arrow-circle-left"></i> <%= t ".profile", default: "Retour au profil" %>
      <% end %>
  </div>
  </div>
</div>
