

  <%= render 'shared/profil_nav' %>
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2 profile-container">
        <div id="profil-cadre">
          <%= image_tag current_user.picture(:medium), class: "circle" %>

            <p><%= "Votre nom : #{current_user.last_name.capitalize}" %></p>
            <p><%= "Votre prénom : #{current_user.first_name.capitalize}" %></p>
            <p> <%= "Votre e-mail: #{current_user.email}" %></p>
          <div class="row">
          <div class="col-md-2 col-md-offset-5">
            <%= link_to t('account.users.edit'), edit_user_registration_path, class: "btn btn-primary text-center" %>
        </div>

        </div>
      </div>
    </div>
  </div>









