<div class="container">

  <div class="row">
    <div class="col-xs-3 text-center">


      <%= @user.first_name %>
      <%= @user.last_name %> <br><br>
      <%= @user.address %> <br>
      <%= link_to edit_user_registration_path(current_user.id) do %>
        <i class="fa fa-cog fa-spin"></i> <%= t ".profile", default: "Modifier votre profil" %>
        <br>

      <%= link_to "Voir mes annonces", account_announces_path %>

        <br>
      <%= link_to "Ajouter une annonce", new_account_announce_path %>
        <br>
        <br>
        <br>
        <br>
      <% end %>
    </div>



  </div>
</div>

