
<div class="top-account">
  <%= render 'shared/profil_nav'%>
  <div class="row">
    <div class="text-center padded">
      <h1><%= t('purchases.show.recap-purchase') %></h1>
      <%= image_tag @purchase.announce.company.logo, :class => 'img-rounded img-show' %>
      <h2>
        <%= @purchase.announce.company.name %>
      </h2>
      <p>
        <%= "#{@purchase.announce.number_of_share} #{@purchase.announce.kind.name}" %>
      </p>
      <p>
        <%= "#{@purchase.announce.price} €" %>
      </p>

      <a href="#" class="btn btn-primary"><%= t('purchases.show.confirm-purchase') %></a>
    </div>
  </div>
</div>

