<div class="container index-announces">
  <div class="row">
    <% @announces.each do |announce| %>
      <div class= "col-xs-12">
        <div class="white_card">
          <div class="row">
            <div class="col-xs-2">
              <%= link_to announce.title, announce %>
              <%= "#{announce.number_of_share} #{announce.kind.name}" %>
            </div>
            <div class="col-xs-3>">
              <%= t('announces.sell_price') %> <%= "#{announce.price} €" %>
            </div>
            <div class="col-xs-3>">
              <%= link_to t('announces.display'), announce, class: "btn btn-primary" %>
            </div>
          </div> <br>
        </div>
      </div>
    <% end %>
  </div>
</div>



