<div id="wraper">
<div id="top">
  <div class="container">
    <div class="row">
      <div class="col-md-2">
        <%= image_tag @announce.company.logo, :class => 'img-rounded img-show' %> <br>
        <p><%= @announce.company.sector.name %></p>
      </div>
      <div class="col-md-6">
        <h2><%= @announce.title %></h2>
         <p><%= @announce.company.summary.truncate(250) %></p>

      </div>
      <div class="col-md-2 col-md-offset-1 mt-40">
        <p><%= @announce.company.name %></p>
        <p><%= "#{@announce.number_of_share} #{@announce.kind.name} vendues" %></p>
        <p><b><%= "Prix total: #{@announce.price}€" %></b></p>
        <br>
        <% if user_signed_in? && !@announce.has_been_purchased? %>
          <%= form_for @purchase, url: announce_purchases_path(@announce), method: :post do |f| %>
            <%= f.hidden_field :announce_id, value: @announce.id %> <br>
            <%= f.submit t('announces.purchase') , class: "btn btn-primary btn-acide" %>
          <% end %>
        <% elsif user_signed_in? && @announce.has_been_purchased? %>
          <%= link_to t('announces.root'), root_path, class: "btn btn-primary btn-acide" %>
        <% else %>
          <%= link_to t('announces.register'), new_user_registration_path, class: "btn btn-primary btn-acide" %>
        <% end %>
      </div>
  </div>
  <div class="container">
    <div class="col-md-10">
      <div role="tabpanel">

        <!-- Nav tabs -->
        <ul class="nav nav-tabs" id="dashboard_products" role="tablist">
          <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab"><%= t ('announces.show.general_information') %></a></li>
          <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab"><%= t '.business_model' %></a></li>
          <li role="presentation"><a href="#messages" aria-controls="messages" role="tab" data-toggle="tab"><%= t '.development' %></a></li>
          <li role="presentation"><a href="#settings" aria-controls="settings" role="tab" data-toggle="tab"><%= t '.vision' %></a></li>
          <li role="presentation"><a href="#settings" aria-controls="settings" role="tab" data-toggle="tab"><%= t '.team' %></a></li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col-md-9">
        <!-- Tab panes -->
        <div class="tab-content white_card ">
          <div role="tabpanel" class="tab-pane active" id="home"><%= @announce.company.general_information %></div>
          <div role="tabpanel" class="tab-pane" id="profile"><%= @announce.company.business_model %></div>
          <div role="tabpanel" class="tab-pane" id="messages"><%= @announce.company.development %></div>
          <div role="tabpanel" class="tab-pane" id="settings"><%= @announce.company.vision %></div>
          <div role="tabpanel" class="tab-pane" id="settings"><%= @announce.company.team %></div>
        </div>
      </div>
      <div class="col-md-3">

      </div>
    </div>
  </div>
  <%= link_to t('announces.back'), root_path %>
</div>

