<div id="wraper">
  <div id="top">
    <div class="container">
      <div class="row">
        <div class="col-md-2">

          <% if @announce.company.logo.present? %>
            <%= image_tag @announce.company.logo, :class => 'img-rounded img-show' %> <br>
          <% else %>
            <%= image_tag "http://placehold.it/200x200", :class => 'img-rounded img-show' %> <br>
          <% end %>
        </div>
        <div class="col-md-6">
          <h2 class="title-announce"><%= @announce.title %></h2>
          <p>
            <%= @announce.company.sector ? @announce.company.sector.name : t('account.announces.index.not_defined') %>
          </p>
           <p>
            <%= @announce.company.summary ? @announce.company.summary.truncate(200) : t('account.announces.index.not_defined') %>
          </p>
        </div>
        <div class="col-md-2 col-md-offset-1 mt-40">
          <p><%= @announce.company.name %></p>
          <p><%= "#{@announce.number_of_share} #{@announce.kind.name} #{t('announces.index.sell')}" %></p>
          <p><b><%= "#{t('announces.index.total-price')} #{humanized_money_with_symbol(@announce.price)}" %></b></p>
          <br>
        </div>
        <div class="col-md-1 col-md-offset-1 mt-20">
          <% if current_user == @announce.user && !@announce.has_been_purchased? %>
            <%= link_to t('announces.edit'), edit_account_announce_path, class: "btn-lg btn-primary btn-acide-sell" %>
          <% elsif user_signed_in? && !@announce.has_been_purchased? %>
            <%= form_for @purchase, url: announce_purchases_path(@announce), method: :post do |f| %>
              <%= f.hidden_field :announce_id, value: @announce.id %> <br>
              <%= f.submit t('announces.purchase') , class: "btn-lg btn-primary btn-acide-sell" %>
            <% end %>
          <% elsif user_signed_in? && @announce.has_been_purchased? %>
            <%= link_to t('announces.sell'), announces_path, class: "btn-lg btn-primary btn-acide-sell" %>
          <% else %>
            <%= link_to t('announces.register'), new_user_registration_path, class: "btn-lg btn-primary btn-acide-sell" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <div class="content">
    <div class="container">
      <div class="col-md-10">
        <div role="tabpanel">

          <!-- Nav tabs -->
          <ul class="nav nav-tabs" id="dashboard_products" role="tablist">
            <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab"><%= t ('announces.show.general_information') %></a></li>
            <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab"><%= t '.business_model' %></a></li>
            <li role="presentation"><a href="#messages" aria-controls="messages" role="tab" data-toggle="tab"><%= t '.development' %></a></li>
            <li role="presentation"><a href="#settings" aria-controls="settings" role="tab" data-toggle="tab"><%= t '.vision' %></a></li>
            <li role="presentation"><a href="#settings" aria-controls="settings" role="tab" data-toggle="tab"><%= t '.team' %></a></li>
          </ul>
        </div>
      </div>
      <div class="row">
        <div class="col-md-9">
          <!-- Tab panes -->
          <div class="tab-content mt-10">
            <div role="tabpanel" class="tab-pane active" id="home">
              <%=  @announce.company.general_information ? markdown(@announce.company.general_information) : "" %></div>
            <div role="tabpanel" class="tab-pane" id="profile">
              <%=  @announce.company.business_model ? markdown(@announce.company.business_model) : "" %></div>
            <div role="tabpanel" class="tab-pane" id="messages">
              <%= @announce.company.development ? markdown(@announce.company.development) : "" %></div>
            <div role="tabpanel" class="tab-pane" id="settings">
              <%= @announce.company.vision ? markdown(@announce.company.vision) : "" %></div>
            <div role="tabpanel" class="tab-pane" id="settings">
              <%= @announce.company.team ? markdown(@announce.company.team) : "" %>
            </div>
          </div>
        </div>
      <!-- <div class="col-md-1 col-md-offset-1 mt-20">
        <% if current_user == @announce.user && !@announce.has_been_purchased? %>
          <%= link_to t('announces.edit'), edit_account_announce_path, class: "btn-lg btn-primary btn-acide-sell" %>
        <% elsif user_signed_in? && !@announce.has_been_purchased? %>
          <%= form_for @purchase, url: announce_purchases_path(@announce), method: :post do |f| %>
            <%= f.hidden_field :announce_id, value: @announce.id %> <br>
            <%= f.submit t('announces.purchase') , class: "btn-lg btn-primary btn-acide-sell" %>
          <% end %>
        <% elsif user_signed_in? && @announce.has_been_purchased? %>
          <%= link_to t('announces.sell'), announces_path, class: "btn-lg btn-primary btn-acide-sell" %>
        <% else %>
          <%= link_to t('announces.register'), new_user_registration_path, class: "btn-lg btn-primary btn-acide-sell" %>
        <% end %>
      </div> -->
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <h2 class="text-center"><%= t('announces.comments')%></h2>
    <div class="col-md-1 col-md-offset-1 text-center">
      <%= image_tag current_user.picture, class: "img-avatar current-user-avatar" %>
      <div class="name-on-a-comment">
        <%= "#{current_user.first_name} #{current_user.last_name}" %>
      </div>
    </div>
    <div class="col-md-9">
      <%= form_tag(announce_messages_path(@announce), method: :post, :id => 'comments_form') do %>
        <div class="form-group">
          <%= text_field_tag(:subject, params[:subject],{:class => "form-control", :placeholder => "Sujet"}) %>
        </div>
        <div class="form-group">
          <%= text_area_tag(:body, params[:body], {:class => "form-control", :placeholder => "Message"}) %>
        </div>
        <%= submit_tag t('announces.send'), class: 'btn btn-acide' %>
      <% end %>
    </div>
  </div>

  <div class="comments-flow">
    <% @announce.mailbox.conversations.first(5).each do |conversation| %>
      <% receipts = conversation.receipts_for @announce %>
        <% receipts.each do |receipt| %>
        <div class="comment-box">
          <div class="row">
            <div class="col-md-1 col-md-offset-1 text-center">
              <div class="comment-image">
                <% if receipt.notification.sender.picture.present? %>
                  <%= image_tag receipt.notification.sender.picture, width: 25, height:25, class: "img-avatar current-user-avatar" %>
                <% else  %>
                  <%= image_tag "Business-Businessman.ico", width: 25, height:25, class: "img-avatar current-user-avatar" %>
                <% end %>
                <div class="name-on-a-comment">
                  <%= "#{receipt.notification.sender.first_name} #{receipt.notification.sender.last_name}" %>
                </div>
              </div>
            </div>
            <div class="col-md-9 name-on-a-comment">
              <div class="comment-body">
                <h3><strong><%= "#{receipt.message.subject}" %></strong></h3>
                <p><%= "#{receipt.message.body}" %></p>
                <p class="text-muted">
                  posté <%= time_ago_in_words(receipt.message.created_at) %>
                </p>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>


