<h1> Nouvelle annonce </h1>
<p><%= @announce.title %></p>
<p><%= @announce.price %></p>
<p><%= @announce.kind %></p>
<p><%= @announce.number_of_share %></p>


<%= link_to "Back", root_path %>
<%= link_to "Delete", announce_path, method: :delete, data: {confirm: "Are you sure ?"}, class: 'btn btn-default' %>
<%= link_to "Edit", edit_announce_path %>

