<%= content_for(:title) do %>
Home
<% end %>

<%= content_for(:description) do %>
<%# TODO %>
<% end %>
<div id="banner" class="text-center">
  <div class="back-color">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-10 col-sm-offset-1">
          <h2><%= t('pages.catch_sentence') %></h2>
        </div>
      </div>
    </div>
    <div class="nos_annonces back_announce">
      <div class="container">
        <div class="row">
          <h4><%= t('pages.some_announces') %></h4>

          <ul class="surveys list text-left">
            <% @announces.each do |announce| %>
              <li class="survey-item">
                <span class='survey-image' style="background: url(<%= image_url announce.company.logo %>); background-size: 100%;">

                </span>

                <span class="survey-country list-only">
                  <%= announce.company.sector.name %>
                </span>

                <span class="survey-name">
                  <%= announce.title %>
                </span>

                <span class="survey-country grid-only">
                  <%= announce.company.sector.name %>
                </span>

                <div class="pull-right">

<!--                   <span class="survey-progress">
                    <span class="survey-progress-bg">
                      <span class="survey-progress-fg" style="width: 88%;"></span>
                    </span> -->

                    <span class="survey-progress-labels">
                      <span class="survey-progress-label">
                        <%= "#{announce.number_of_share} #{announce.kind.name}" %>
                      </span>

                      <span class="survey-completes">
                        <%= "#{announce.price} €" %>
                      </span>
                    </span>
                  </span>

                   <span class="survey-end-date ended">
                    <%= "#{announce.created_at.strftime("%d %b. %Y")}" %>
                  </span>
                  <span class="survey-stage">
                      <% if user_signed_in? %>
                        <%= link_to "Voir l'annonce", announce, class: "btn btn-acide float-right " %>
                      <% else %>
                        <%= link_to "Voir l'annonce", new_user_session_path, class: "btn btn-acide float-right" %>
                      <% end %>
                  </span>
                </div>
              </li>
            <% end %>
          </ul>
          <h4><%= link_to t('pages.see_more'), announces_path, id:'see_more' %></h4>
        </div>
      </div>
    </div>

    <div class="form-inline pt-70 search-bar-back">
      <%= form_tag announces_path, :id => 'search_welcome', method: :get do %>
      <%= select_tag(:search_sector, options_from_collection_for_select(Sector.all, "id", "name", params[:search_sector]), {:class => "form-control"}) %>
      <%= select_tag(:search_kind, options_from_collection_for_select(Kind.all, "id", "name", params[:search_kind]), {:class => "form-control"}) %>
      <%= text_field_tag(:min_price, params[:min_price], {:class => "form-control", :placeholder => "Prix Min"}) %>
      <%= text_field_tag(:max_price, params[:max_price], {:class => "form-control", :placeholder => "Prix Max"}) %>

      <%= submit_tag "Search" , class: "btn btn-acide btn-search" %>
      <% end %>
    </div>


        <!-- <p><%= link_to "Ajouter une annonce", new_account_announce_path %></p>
        <p><%= link_to "Voir toutes les annonces", announces_path %></p>
        <li>
          <%= link_to "Connexion", new_user_session_path %>
        </li>
        <!-- Facebook login -->
       <!--  <li>
          <%= link_to "Connect with Facebook", user_omniauth_authorize_path(:facebook) %>
        </li> -->


      </div>
    </div>
  </div>

  <div class="text-center who-we-are">
    <div class="container">
      <div class="row">
        <h2><%= t('pages.who-we-are') %></h2> <br><br>
        <div class="col-xs-3"></div>
        <div class="col-xs-6">
          <p><%= t('pages.who-we-are-description') %></p>
        </div>
      </div>
    </div>
  </div>


  <div class="text-center partners-homepage">
    <div class="container">
      <div class="row">
        <h2><%= t('pages.partners') %></h2> <br><br>

        <div class="col-xs-2">
          <%= link_to 'https://www.anaxago.com', :target => "_blank" do %>
            <%= image_tag "anaxago.png" , width: 75 %>
          <% end %>
        </div>

        <div class="col-xs-2">
          <%= link_to 'https://happy-capital.com/', :target => "_blank" do %>
            <%= image_tag "happycapital.png" , width: 75 %>
          <% end %>
        </div>

        <div class="col-xs-2">
          <%= link_to 'https://www.smartangels.fr/', :target => "_blank" do %>
            <%= image_tag "smartangels.png" , width: 75 %>
          <% end %>
        </div>



        <div class="col-xs-2">
          <%= link_to 'https://sowefund.com/', :target => "_blank" do %>
            <%= image_tag "swf.png" , width: 75 %>
          <% end %>
        </div>

        <div class="col-xs-2">
          <%= link_to 'https://www.unilend.fr/', :target => "_blank" do %>
            <%= image_tag "unilend.png" , width: 75 %>
          <% end %>
        </div>

        <div class="col-xs-2">
          <%= link_to 'https://www.wiseed.com/fr', :target => "_blank" do %>
            <%= image_tag "wiseed.png" , width: 75 %>
          <% end %>
        </div>

      </div>
    </div>
  </div>

</div>