<%= content_for(:title) do %>
  Home
<% end %>

<%= content_for(:description) do %>
  <%# TODO %>
<% end %>

<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-8 col-sm-offset-2">
      <h1>Welcome!</h1>

      <h2>This is the homepage</h2>

      <p>
        Find me in <code>app/views/pages/home.html.erb</code>
      </p>

      <p>
        Thanks to the <a href="https://github.com/thoughtbot/high_voltage">high_voltage</a>
        gem, if you need more static pages (like <code>/contact</code> or <code>/about-us</code>),
        just create a file in the <code>app/views/pages</code> folder, the route will be automatically
        available without you adding any controller or touching the <code>config/routes.rb</code> file!
      </p>

      <%= form_tag announces_path, :id => 'search_welcome', method: :get do %>

        <%= select_tag :search_sector, options_from_collection_for_select(Sector.all, "id", "name", params[:search_sector]) %>
        <%= select_tag :search_kind, options_from_collection_for_select(Kind.all, "id", "name", params[:search_kind]) %>


        <%= submit_tag "Search" , class: "btn btn-primary btn-search" %>
      <% end %>

      <p><%= link_to "Ajouter une annonce", new_account_announce_path %></p>
      <p><%= link_to "Voir toutes les annonces", announces_path %></p>
      <li>
        <%= link_to "Connexion", new_user_session_path %>
      </li>
    <!-- Facebook login -->
      <li>
        <%= link_to "Connect with Facebook", user_omniauth_authorize_path(:facebook) %>
    </li>


    </div>
  </div>
</div>