<div class="container">
  <div class="row">
    <h1><%= @announce.title %></h1>
    <p><%= @announce.company.name %></p>
    <p><%= @announce.price %></p>
    <p><%= @announce.kind.name %></p>
    <p><%= @announce.number_of_share %></p>


    <%= link_to t('account.announces.back'), account_announces_path, class: 'btn btn-primary' %>
    <%= link_to t('account.announces.delete'), account_announce_path, method: :delete, data: {confirm: "Are you sure ?"}, class: 'btn btn-danger' %>
    <%= link_to t('account.announces.edit'), edit_account_announce_path, class: 'btn btn-primary' %>
  </div>
</div>